.common-style {
  background-color: #ea4c89;
  border-radius: 0.25em;
  color: white;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  outline: none;
  border: none;
  transition: background-color 300ms;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg) no-repeat right 0.8em center/1.4em,
    linear-gradient(to right, transparent 0%, transparent calc(100% - 2.8em), #f082ac calc(100% - 2.8em), #f082ac 100%);
  background-color: inherit;
  color: inherit;
  border-radius: inherit;
  font-size: inherit;
  font-weight: inherit;
  padding: 0.5rem 4rem 0.5rem 1rem;
  cursor: inherit;
}

select option {
  background-color: #ea4c89;
}

select:hover {
  background-color: #f082ac;
}