.common-style {
  background-color: #ea4c89;
  border-radius: 0.25em;
  color: white;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  outline: none;
  border: none;
  transition: background-color 300ms;
}

.btn {
  display: inline-block;
  box-sizing: border-box;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn:hover {
  background-color: #f082ac;
}