* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
#root {
    height: 100vh;
    font-family: Arial;
}

.container {
    display: grid;
    place-content: center;
    gap: 16px;
    height: 100%;
    padding: 0px 16px;
}

.container h1 {
    margin-bottom: 0;
}

.container h1,
.container p {
    text-align: center;
}

.controls {
    display: flex;
    gap: 8px;
}